
/* .jumbotron{
    background-image: url(‘images/birds-chirping.jpg’) fixed center no-repeat; */
    /* background-size: cover;
    background-repeat: no-repeat;
    padding: 2px;
} */


#textfield {
    background-color: grey;
    color: plum; 
    
}

#chirpbox {
    /* position: relative; */
    height: 25em;
    width: cover;
    margin: 0px;
    padding-left: 20em;
    padding-top: 17em;
    background-image: url("images/birds-chirping.jpg");
    background-color: lightblue;
    background-size: cover;
    border: 5px purple solid;
}

#chirpfield {
    /* position: fixed; */
    height: 80px;
    width: 750px;
    border-width: 5px;
    border-color: red;
    /* margin: 20px 60px 20px 60px;
    padding: 20px 60px 20px 60px; */
    text-align: center;
    
}

#userfield {
    border-color: red;
    border-width: 3px;
    vertical-align: bottom;
}

#btn {
  
    right: 100px;
    border: 5px red solid;
    float: right;
    clear: both;
    background-color: lightblue;
    color: red;
    vertical-align: bottom;
}

#chirplist {
    /* position: absolute; */
    padding: 20px 60px 20px 60px;
    margin: 50px 60px 20px 60px;
    border: 5px purple solid;
    background-color: lightblue;
    text-align: center;
}

#btnbox {
    height: 5px;
    
}
